body {
  font-family: Arial, sans-serif;
  padding: 40px;
  background: #f5f5f5;
}

.welcome {
  color: #000000;
}

/* zakładki */
.tabs {
  margin-top: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #ddd;
  margin-right: 5px;
  border-radius: 5px 5px 0 0;
}

.tab.active {
  background: #1e90ff;
  color: white;
}

/* treść */
.tab-content {
  display: none;
  background: white;
  padding: 20px;
  border-radius: 0 5px 5px 5px;
}

.tab-content.active {
  display: block;
}

/* obrazek */
.main-image {
  width: 300px;
  max-width: 100%;
  height: auto;
  cursor: zoom-in;
  display: block;
  margin: 20px auto;
}

.zoomable {
  width: 40%;        /* procent kontenera */
  max-width: 300px;
  height: auto;
  cursor: zoom-in;
  display: block;
  margin: 20px auto;
}

/* =========================
   GALERIA
========================= */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  /*cursor: zoom-in;*/
}

.gallery img {
  width: 100%;
  border-radius: 6px;
  /*cursor: pointer;*/
  transition: transform 0.2s, box-shadow 0.2s;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#img-lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

#img-lightbox-content {
  width: 80vw;       /* 80% szerokości okna */
  max-width: 100%;
  max-height: 90vh;  /* 90% wysokości okna */
  height: auto;
  object-fit: contain;
  border-radius: 8px;
  animation: zoomIn 0.25s ease-out;
}

@keyframes zoomIn {
  from { transform: scale(0.9); opacity: 0; }
  to   { transform: scale(1); opacity: 1; }
}

#shopping-list {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

#shopping-list li {
  background: #eee;
  margin-bottom: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

#shopping-list li span {
  cursor: pointer;
  flex-grow: 1;
}

#shopping-list li.completed span {
  text-decoration: line-through;
  color: #888;
}

.delete-btn {
  background: #f96a6a;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
}

.shopping-list-input input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.shopping-list-input button {
  padding: 10px 20px;
  background: #1e90ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}